.bg .topbg {
  width: 100vw;
  height: 100px;
  background-image: url('../images/111.jpg');
  background-size: cover;
  background-position-y: -6px;
}
.bg .addresslist_box {
  margin: 0 10px;
  position: relative;
  top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: white;
}
