.menu .top_bg {
  height: 220px;
  background-color: #DFB484;
  position: relative;
}
.menu .top_bg .top_bgImg {
  width: 220px;
  height: 220px;
  background-color: #DFB484;
  position: absolute;
  right: 0;
  overflow: hidden;
}
.menu .top_bg .top_bgImg .auto_img {
  height: 100%;
  display: block;
}
.menu .content_box {
  position: relative;
  top: -10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}
.menu .content_box .content_title {
  background-color: #fff;
  padding-top: 6px;
}
.menu .content_box .content_title .tit_box {
  width: 24px;
  height: 4px;
  margin: 0 auto;
  background-color: #588f7e;
  position: relative;
}
.menu .content_box .content_title .tit_box::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #588f7e;
  position: absolute;
  left: -2px;
  top: 0;
}
.menu .content_box .content_title .tit_box::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #588f7e;
  position: absolute;
  right: -2px;
  top: 0;
}
.menu .content_box .content_title .menu_box {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  font-weight: bolder;
}
.menu .content_box .content_title .menu_box .menu_icon {
  margin-right: 4px;
}
.menu .menu_content {
  position: absolute;
  top: 276px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 50px;
  display: flex;
}
.menu .menu_content .m_c_left {
  width: 120px;
  height: 100%;
  background-color: #F7F8FA;
  overflow: hidden;
  overflow-y: auto;
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  /*定义滚动条轨道 内阴影+圆角*/
  /*定义滑块 内阴影+圆角*/
}
.menu .menu_content .m_c_left /deep/ .van-sidebar {
  width: 120px;
}
.menu .menu_content .m_c_left /deep/ .van-sidebar-item--select::before {
  background-color: #588f7e;
}
.menu .menu_content .m_c_left /deep/ .van-sidebar-item__text {
  color: #588f7e;
}
.menu .menu_content .m_c_left::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}
.menu .menu_content .m_c_left::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.menu .menu_content .m_c_left::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #c8c8c8;
}
.menu .menu_content .m_c_right {
  flex: 1;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  text-align: left;
}
.menu .menu_content .m_c_right .typeName {
  font-size: 16px;
  padding: 6px 10px;
  color: #588f7e;
  font-weight: bolder;
  text-align: center;
}
