.menu_item ul {
  padding: 10px;
}
.menu_item ul li {
  height: 60px;
  border: 1px solid #588f7e;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
}
.menu_item ul li .img_box {
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 10px;
}
.menu_item ul li .img_box .auto_img {
  height: 100%;
}
.menu_item ul li .info_box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.menu_item ul li .info_box .name_box {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.menu_item ul li .info_box .name_box .name {
  flex: 1;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: #6a708a;
}
.menu_item ul li .info_box .name_box .enname {
  flex: 1;
  margin: 0;
  font-weight: bold;
  color: #b4cbdd;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 20px;
  overflow: hidden;
}
.menu_item ul li .info_box .price {
  flex: 1;
  display: flex;
}
.menu_item ul li .info_box .price .money {
  flex: 1;
  display: flex;
  align-items: center;
}
.menu_item ul li .info_box .price .icon_box {
  height: 100%;
  display: flex;
  align-items: center;
  color: #588f7e;
}
